*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.SignIn-right{
}
.gif{
    width: 500px;
    max-height: 400px;
    margin-right: 100px;
    margin-top: 20px;

}
.loginLink{
    color: #aaa!important;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 10px;
}
.navbar li{
    color: rgb(16, 35, 212)
}
.navbar li a{
text-decoration: none;
color: rgb(16, 35, 212);
padding: 10px;
font-size: 18px;
font-weight: 600;
}

.error{
    color: red;
}
/****************************/
/********SignIn**************/
/****************************/
/* SignUp Lift-side */
div.SignIn{
    display: flex;
    flex-flow: row;
}
/*SignIn quote */
div.textIn p{
    color: #777;
    padding-top: 10px;
    margin-bottom: 70px;
}
div.textIn img{
    width: 40%;
    height: 30%;
    position: relative;
    left: 25%;
}
div.SignIn{
padding: 25px;
}
div.icons{
display: flex;
flex-flow: row;
}
div.SignIn-left{
    max-width: 45%;
    position: relative;
    height: 90vh;
}
div.SignIn-right{
    max-width: 55%;
    position: relative;
    height: 90vh;
    margin-top: 70px;
}
div.icon{
    padding: 0 20px;

}
